/* 时间 */
.time {
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: 0px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  user-select: none;
  /* min-width: 591px; */
}
.clock-time {
  /* transition: transform 0.3s; */
}
.clock-time:hover {
  /* transform: scale(1.1); */
}
.clock-font{
  font-size: 3rem;
  display: inline-block;
  line-height: 1em;
  padding-top: 0.1em;
}
.colon {
  font-size: 2rem;
  transition: opacity 0.5s; /* 平滑过渡透明度变化 */
  margin: 0; /* 调整冒号左右间距 */
}
.solar-time {
  font-size: 1rem;
  padding-top: 0px;
  margin-top: 0px;
  line-height: 1em;
}
.shortcut{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 15px 0 15px;
}
.shortcut-icon{
  width: 64px;
  height: 64px;
  border-radius: 10%
}
.shortcut-font{
  font-size: 48px;
  margin: 0;
  margin-top: 7px;
}


/* 搜索框 */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 25px 0;
}

.gradient-input {
  max-width: 600px;
  width: 100%;
  height: 40px;
  padding: 5px 12px;
  font-size: 16px;
  color: #333;
  outline: none;
  margin-left: 25px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(45deg, #ff7eb3, #65d9ff, #c7f464, #ff7eb3) border-box;
  border-radius: 20px;

  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.gradient-input:hover {
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(135deg, #ff0076, #1eaeff, #28ffbf, #ff0076) border-box;
  box-shadow: 0 0 5px rgba(255, 0, 118, 0.5), 0 0 20px rgba(30, 174, 255, 0.5);
}

.gradient-input:focus {
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(45deg, #ff0076, #1eaeff, #28ffbf, #ff0076) border-box;
  box-shadow: 0 0 15px rgba(255, 0, 118, 0.7), 0 0 25px rgba(30, 174, 255, 0.7);
  color: #000; 
}

.gradient-input::placeholder {
  color: #aaa;
  text-align: center;
}

/* 搜索容器 */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 5px 0;
}

/* 搜索引擎按钮 */
.search-engine-buttons {
  display: flex; /* 横排布局 */
  flex-direction: row; /* 确保横向排列 */
  gap: 20px; /* 按钮之间的间距 */
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0; /* 去掉默认的 padding */
  list-style: none; /* 去掉 li 的圆点 */
}

.search-engine-buttons li {
  text-align: center;
  color: #aaa;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.25s, text-shadow 0.25s;
}
.search-englne-text{
  margin-left: 0;
  margin-bottom: 0;
  line-height: 1;
}

.search-engine-buttons li span {
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.25s;
  text-transform: uppercase;
}

.search-engine-buttons li:hover span {
  color: #161616;
  text-shadow: 0 0 5px #bcbcbc, 0 0 15px #bcbcbc, 0 0 30px #bcbcbc, 0 0 60px #bcbcbc, 0 0 100px #bcbcbc;
}

/* 选中效果 */
.search-engine-buttons li.active span {
  color: #161616;
  text-shadow: 0 0 5px #bcbcbc, 0 0 15px #bcbcbc, 0 0 30px #bcbcbc, 0 0 60px #bcbcbc, 0 0 100px #bcbcbc;
}