.time {
  font-family: SimSun;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: 0px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  user-select: none;
  /* min-width: 591px; */
}
.clock-time {
  font-size: 4rem;
  display: inline-block;
  transition: transform 0.3s;
  line-height: 1em;
  padding-top: 0.1em;
}
.clock-time:hover {
  transform: scale(1.1);
}
.colon {
  font-size: 4rem;
  transition: opacity 0.5s; /* 平滑过渡透明度变化 */
  margin: 0 0em; /* 调整冒号左右间距 */
}
.solar-time {
  font-size: 1.2rem;
  padding-top: 0px;
  margin-top: 0px;
  line-height: 1em;
}
.shortcut{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortcut-icon{
  width: 64px;
  height: 64px;
  border-radius: 10%
}
.shortcut-font{
  font-size: 18px;
  margin: 0;
}
.extension{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extension-icon{
  width: 48px;
  height: 48px;
}
.extension-font{
  font-size: 16px;
  margin: 0;
}
.Friendly {
  margin: 20px;
  display: flex;
  align-items: center; /* 垂直居中 */
  /* justify-content: center; 整体水平居中 */
}

.Friendly div {
  display: flex;
  flex-direction: column; /* 设置b和p垂直排列 */
}

.Friendly-icon {
  width: 68px;
  height: 68px;
  margin-right: 15px; /* 图片和文字之间的间距 */
  border-radius: 10%;
}

.Friendly-font {
  font-size: 20px;
  margin: 0;
}

.Friendly-font-note {
  font-size: 15px;
  margin: 0;
  color: #666; /* 副标题颜色 */
<<<<<<< HEAD
}
=======
}
>>>>>>> da5b50f21d10fc8000c655a4c53b6b2567a6a418
