.time {
  font-family: SimSun;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: 0px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  user-select: none;
  /* min-width: 591px; */
}
.clock-time {
  font-size: 4rem;
  display: inline-block;
  transition: transform 0.3s;
  line-height: 1em;
  padding-top: 0.1em;
}
.clock-time:hover {
  transform: scale(1.1);
}
.colon {
  font-size: 4rem;
  transition: opacity 0.5s; /* 平滑过渡透明度变化 */
  margin: 0 0em; /* 调整冒号左右间距 */
}
.solar-time {
  font-size: 1.2rem;
  padding-top: 0px;
  margin-top: 0px;
  line-height: 1em;
}
.extension{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extension-icon{
  width: 48px;
  height: 48px;
}
.extension-font{
  font-size: 16px;
  margin: 0;
}